@charset "UTF-8";
@keyframes loader-fade {
  /*animation where the loader goes behind the page*/
  100% {
    z-index: -10;
    opacity: 0;
  }
}
@keyframes loader {
  /*bouncing balls animation into loader*/
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px);
  }
}
@keyframes check-appearance {
  0% {
    width: 0;
  }
  100% {
    width: 10%;
  }
}
@keyframes icon-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/*animation for meals appearance*/
.meal-card:nth-child(1) {
  animation-delay: 0.25s;
}

/*animation for meals appearance*/
.meal-card:nth-child(2) {
  animation-delay: 0.5s;
}

/*animation for meals appearance*/
.meal-card:nth-child(3) {
  animation-delay: 0.75s;
}

/*animation for meals appearance*/
.meal-card:nth-child(4) {
  animation-delay: 1s;
}

/*animation for meals appearance*/
.meal-card:nth-child(5) {
  animation-delay: 1.25s;
}

/*animation for meals appearance*/
.meal-card:nth-child(6) {
  animation-delay: 1.5s;
}

/*animation for meals appearance*/
.meal-card:nth-child(7) {
  animation-delay: 1.75s;
}

/*animation for meals appearance*/
.meal-card:nth-child(8) {
  animation-delay: 2s;
}

/*animation for meals appearance*/
.meal-card:nth-child(9) {
  animation-delay: 2.25s;
}

/*animation for meals appearance*/
.meal-card:nth-child(10) {
  animation-delay: 2.5s;
}

/*animation for meals appearance*/
.meal-card:nth-child(11) {
  animation-delay: 2.75s;
}

/*animation for meals appearance*/
.meal-card:nth-child(12) {
  animation-delay: 3s;
}

/*animation for meals appearance*/
.meal-card:nth-child(13) {
  animation-delay: 3.25s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
}

header i {
  font-size: 24px;
  /*left arrow in header*/
}
@media screen and (min-width: 768px) {
  header i {
    font-size: 28px;
  }
}
@media screen and (min-width: 992px) {
  header i {
    font-size: 32px;
  }
}

footer .fa-hands-helping {
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  footer li {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  footer li {
    font-size: 16px;
  }
}

.city-name-container {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .city-name-container {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .city-name-container {
    font-size: 20px;
  }
}

.information-container h1 {
  font-size: 24px;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .information-container h1 {
    font-size: 26px;
  }
}
@media screen and (min-width: 992px) {
  .information-container h1 {
    font-size: 30px;
  }
}
.information-container p {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .information-container p {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .information-container p {
    font-size: 26px;
  }
}

.working-card i {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .working-card i {
    font-size: 24px;
  }
}
.working-card:nth-child(4) i {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .working-card:nth-child(4) i {
    font-size: 20px;
  }
}

.working-stage-title {
  font-size: 18px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .working-stage-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .working-stage-title {
    font-size: 22px;
  }
}

.section-title {
  font-size: 24px;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 32px;
  }
}
@media screen and (min-width: 992px) {
  .section-title {
    font-size: 32px;
  }
}

.fa-heart {
  font-size: 26px;
}
@media screen and (min-width: 768px) {
  .fa-heart {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .fa-heart {
    font-size: 30px;
  }
}

.restaurant-name {
  font-size: 20px;
  font-weight: 900;
}
@media screen and (min-width: 768px) {
  .restaurant-name {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-name {
    font-size: 24px;
  }
}

.restaurant-district {
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .restaurant-district {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-district {
    font-size: 20px;
  }
}

.menu-title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
@media screen and (min-width: 768px) {
  .menu-title h1 {
    font-size: 36px;
  }
}
@media screen and (min-width: 992px) {
  .menu-title h1 {
    font-size: 32px;
  }
}

.menu-service h2 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
}
@media screen and (min-width: 768px) {
  .menu-service h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .menu-service h2 {
    font-size: 18px;
  }
}

.main-food {
  font-size: 17px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .main-food {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .main-food {
    font-size: 20px;
  }
}

.side-food {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .side-food {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .side-food {
    font-size: 18px;
  }
}

.meal-price {
  font-size: 16px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .meal-price {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .meal-price {
    font-size: 18px;
  }
}

.new-restaurant {
  /*used for new restaurants in the list*/
  position: absolute;
  font-size: 14px;
  right: 20px;
  top: 10px;
  padding: 7px 10px;
  border-radius: 2px;
  background: #99E2D0;
  color: #278870;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .new-restaurant {
    font-size: 16px;
  }
}

header {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  display: flex;
  justify-content: center;
}
header .fa-arrow-left {
  display: block;
  position: absolute;
  top: 33%;
  left: 5%;
}
header .main-logo {
  width: 80%;
}
@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
  header .main-logo {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  header {
    height: 80px;
  }
  header .main-logo {
    width: 100%;
  }
}

footer {
  width: 100%;
  display: flex;
  padding: 25px;
  padding-bottom: 30px;
  flex-direction: column;
  background-color: #252525;
  color: #fff;
}
footer img {
  width: 30%;
  margin-bottom: 15px;
  filter: invert(1);
  /*put #fff color to logo*/
}
footer li {
  margin: 10px auto;
}
footer li i {
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
  footer img {
    max-width: 25%;
    margin: auto 5%;
  }
}
@media screen and (min-width: 992px) {
  footer {
    flex-direction: row;
    justify-content: center;
  }
  footer img {
    max-width: 10%;
    margin: auto 5%;
  }
}

.section-information {
  /*section with informations + explore button*/
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.city-name-container {
  /*container of icon, name of city*/
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #e7e7e7;
  box-shadow: 0 1px 4px #c2c1c1 inset;
  /*inset for shadow inside*/
}
.city-name-container i {
  margin-right: 5%;
}
@media screen and (min-width: 768px) {
  .city-name-container i {
    margin-right: 2%;
  }
}
@media screen and (min-width: 992px) {
  .city-name-container i {
    margin-right: 2%;
  }
}

.information-container {
  /*container for informations + explore button*/
  width: 90%;
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.information-container h1 {
  width: 70%;
  margin-bottom: 10px;
}
.information-container p {
  margin-bottom: 25px;
}
.information-container button {
  /*explore + order btns*/
  padding: 15px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: #9356DC;
  background: linear-gradient(354deg, #9356DC 10%, #9657dc 4%, #FF79DA 100%);
  box-shadow: 1px 2px 6px #919090;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .information-container button {
    max-width: 250px;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .information-container button {
    max-width: 250px;
    font-size: 20px;
    cursor: pointer;
  }
  .information-container button:hover {
    filter: brightness(105%);
    /*button a bit brighter on hover*/
    box-shadow: 3px 4px 5px #848383;
  }
}

.section-website-working {
  width: 100%;
}

.working-container {
  width: 100%;
  padding: 40px 20px;
}
.working-container h1 {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .working-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 992px) {
  .working-container {
    max-width: 60%;
    margin: 0 auto;
  }
}

.working-card {
  width: 95%;
  margin: 25px auto;
  padding: 35px 25px;
  border-radius: 15px;
  position: relative;
  display: flex;
  align-items: center;
  background: #f1f1f1;
  box-shadow: 3px 4px 5px #dddddd;
}
.working-card:hover {
  background-color: #9256dc23;
}
.working-card:hover i {
  color: #9356DC;
}
.working-card i {
  position: absolute;
  left: 12%;
  color: #797979;
}
@media screen and (min-width: 768px) {
  .working-card i {
    left: 30%;
  }
}
@media screen and (min-width: 992px) {
  .working-card i {
    left: 35%;
  }
}

.working-stage-number {
  position: absolute;
  padding: 4px 8px;
  color: #fff;
  text-align: center;
  background: #9356DC;
  border-radius: 50%;
  left: -12px;
}

.working-stage-title {
  position: absolute;
  left: 25%;
}
@media screen and (min-width: 768px) {
  .working-stage-title {
    left: 35%;
  }
}
@media screen and (min-width: 768px) {
  .working-stage-title {
    left: 40%;
  }
}

.section-restaurant {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section-restaurant {
    margin-bottom: 50px;
    /*space between section and footer*/
  }
}

.restaurant-container {
  width: 100%;
  padding: 40px 20px;
  padding-bottom: 40px;
  background: #f1f1f1;
}
.restaurant-container h1 {
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .restaurant-container {
    margin: 0 auto;
    padding: 40px 50px;
    width: 80%;
    border-radius: 30px;
  }
}

@media screen and (min-width: 992px) {
  .restaurant-card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.restaurant-card {
  position: relative;
  max-height: 250px;
  margin-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 6px #b8b8b8;
}
.restaurant-card img {
  display: block;
  width: 100%;
  max-height: 170px;
  object-fit: cover;
  object-position: 50% 100%;
}
.restaurant-card img.restaurant-img-position {
  /*la note enchanté img position*/
  object-position: 50% 60%;
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    height: 400px;
  }
  .restaurant-card img {
    height: 300px;
    object-position: 50% 85%;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-card {
    width: 40%;
    margin-bottom: 50px;
    height: 500px;
  }
  .restaurant-card:hover {
    background: #f1f1f1;
    box-shadow: 3px 4px 5px #848383;
  }
  .restaurant-card img {
    height: 400px;
    object-position: 50% 65%;
  }
}

.restaurant-description {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.restaurant-name {
  margin-bottom: 3px;
}

.like-icon {
  margin-top: 8px;
  cursor: pointer;
}
.like-icon--unchecked {
  opacity: 1;
}
.like-icon--checked {
  display: block;
  color: #9356DC;
  font-weight: bold;
  background: linear-gradient(0deg, #FF79DA 10%, #9356DC 96%);
  -webkit-background-clip: text;
  /* allows background to be clipped by a text element*/
  -webkit-text-fill-color: transparent;
  /*fill color of characters of text*/
  transform: scale(0);
  /*give impression of filling when goes to scale(1)*/
  opacity: 0;
  /*invisible before hover*/
}
.like-icon:hover .like-icon--unchecked {
  opacity: 0;
  /*remove border of heart*/
  transition: opacity 0.2s ease-out;
}
.like-icon:hover .like-icon--checked {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.section-menu {
  width: 100%;
}

.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.menu-container img {
  display: block;
  object-fit: cover;
  height: 250px;
}
@media screen and (min-width: 768px) {
  .menu-container img {
    height: 545px;
    margin-top: -150px;
  }
}
@media screen and (min-width: 992px) {
  .menu-container img {
    max-height: 960px;
    margin-top: -150px;
  }
}
@media screen and (min-width: 992px) {
  .menu-container {
    margin: 0 auto;
    width: 50%;
    border-radius: 30px;
  }
}

.menu-description {
  width: 100%;
  padding: 20px;
  position: relative;
  margin-top: -12%;
  border-radius: 30px 30px 0 0;
  background: #f1f1f1;
}
@media screen and (min-width: 768px) {
  .menu-description {
    margin-top: -15%;
    padding: 10px 30px 20px 30px;
  }
}
@media screen and (min-width: 992px) {
  .menu-description {
    padding: 20px 30px;
  }
}
.menu-description button {
  /*explore + order btns*/
  padding: 15px;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: #9356DC;
  background: linear-gradient(354deg, #9356DC 10%, #9657dc 4%, #FF79DA 100%);
  box-shadow: 1px 2px 6px #919090;
  width: 50%;
  display: block;
  margin: 50px auto;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .menu-description button {
    max-width: 250px;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .menu-description button {
    max-width: 250px;
    font-size: 20px;
    cursor: pointer;
  }
  .menu-description button:hover {
    filter: brightness(105%);
    /*button a bit brighter on hover*/
    box-shadow: 3px 4px 5px #848383;
  }
}
@media screen and (min-width: 768px) {
  .menu-description button {
    max-width: 30%;
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .menu-description button {
    max-width: 35%;
    font-size: 22px;
  }
}

.menu-title {
  display: flex;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.menu-title i:hover {
  display: block;
  color: #9356DC;
  font-weight: bold;
  background: linear-gradient(0deg, #FF79DA 10%, #9356DC 96%);
  -webkit-background-clip: text;
  /* allows background to be clipped by a text element*/
  -webkit-text-fill-color: transparent;
  /*fill color of characters of text*/
  transform: scale(0);
  /*give impression of filling when goes to scale(1)*/
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-title {
    padding-top: 10px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  .menu-title {
    padding-top: 10px;
    margin-bottom: 15px;
  }
}

.menu-service {
  width: 100%;
}

.service-name {
  /*name of service*/
  width: fit-content;
  margin-top: 35px;
}
.service-name span {
  width: 60%;
  min-width: 40px;
  height: 4px;
  display: block;
  background: #99E2D0;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .service-name span {
    min-width: 50px;
  }
}
@media screen and (min-width: 992px) {
  .service-name span {
    min-width: 50px;
  }
}

.meal-card {
  /*card for each meal*/
  width: 100%;
  display: flex;
  opacity: 0;
  animation: fadein 0.5s linear;
  /*put animation on every meal cards*/
  animation-fill-mode: forwards;
  /*allows to have opacity on 1 after animation*/
}
.meal-card:hover {
  /*meal check card is present on right side when hover a meal card*/
}
.meal-card:hover a {
  border-radius: 15px 0 0 15px;
}
.meal-card:hover .added-meal {
  width: auto;
  height: auto;
  display: block;
  opacity: 1;
  margin-top: 15px;
  padding: 15px 15px 15px 10px;
  box-shadow: 1px 1px 6px #b8b8b8;
  width: 17%;
  color: #fff;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  box-shadow: 1px 1px 6px #b8b8b8;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: check-appearance 0.25s ease-in;
  /*check icon*/
}
.meal-card:hover .added-meal i {
  animation: icon-rotate 0.7s ease;
}
@media screen and (min-width: 768px) {
  .meal-card:hover .added-meal {
    width: 10%;
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .meal-card:hover .added-meal {
    margin-top: 25px;
  }
}
.meal-card a {
  min-width: 0;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 15px;
  padding: 15px 15px 15px 10px;
  background: #fff;
  border-radius: 15px;
}
@media screen and (min-width: 992px) {
  .meal-card a {
    margin-top: 25px;
  }
}

.main-food {
  margin-bottom: 5px;
}

.meal-description {
  max-width: 80%;
}
.meal-description p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meal-price {
  padding-right: 5px;
}

.added-meal {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
