@mixin meal-check-card{
     width: 17%;
     color: #fff;
     border-radius: 0 $card-radius $card-radius 0;
     background-color: $tertiary-color;
     box-shadow: $cards-box-shadow;
     font-size: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
     animation: appearance .5s ease;
          i{
               animation: icon-rotate .7s ease;
          }

     @include medium-screen{
          width: 10%;
          font-size: 30px;
     }
}

@keyframes appearance{
     0%{
          width: 0; //give the translate effect
          opacity: 0;
     }50%{          
          opacity: .5;
     }
     100%{
          opacity: 1;
     }
}

@keyframes icon-rotate{
     0%{
          transform: rotate(0deg);
     }
     100%{
          transform: rotate(360deg);
     }
}