.new-restaurant{ /*used for new restaurants in the list*/
    position: absolute;
    font-size: 14px;
    right: 20px;
    top: 10px;
    padding: 7px 10px;
    border-radius: 2px;
    background: $tertiary-color;
    color: darken($tertiary-color, $amount: 40);
    font-weight: bold;

    @include medium-screen{
        font-size: 16px;
    }
}