*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
//-----------colors--------------//
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;


$background-lighter: rgba(204, 204, 204, 0.267);

$box-shadow: 1px 2px 6px rgb(145, 144, 144);
$dark-box-shadow: 3px 4px 5px darken(rgb(145,144,144), 5%);
$cards-box-shadow: 1px 1px 6px rgb(184, 184, 184);

$icon-color: #797979;
