//*********************Loader*************************
.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: .9;
    background: rgb(255,121,218);
    background: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 38%);
    z-index: 100; /*put loader over everything else*/
    animation: loader-fade .6s ease-out forwards; /*forwards allows to take z-index property at 100% keyframe*/
    animation-delay: 2.5s; /*duration of the animation*/

     span{
        width: 35px;
        height: 35px;
        margin-right: 15px;
        border-radius: 50%;
        box-shadow: 1px 1px 6px #000;
        background-color: $secondary-color;
        animation: loader .5s cubic-bezier(.19,.57,.3, .98) infinite alternate; /*alternate bounce balls*/

            
            &:nth-child(2){
                animation-delay: .1s;
            }
            &:nth-child(3){
                animation-delay: .2s;
            }
            &:nth-child(4){
                animation-delay: .3s;
            }
        }
    
}

//*****************SECTION INFORMATIONS OF WEBSITE*********
.section-information{ /*section with informations + explore button*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-lighter;
}

.city-name-container{ /*container of icon, name of city*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 15px 0;
    background-color: darken($background-lighter,4);
    box-shadow: 0 1px 4px rgb(194, 193, 193) inset; /*inset for shadow inside*/

        i{
            margin-right: 5%;
        }

    @include medium-screen{
        i{
            margin-right: 2%;
        }
    }
    @include large-screen{
        i{
            margin-right: 2%;
        }
    }
}

.information-container{ /*container for informations + explore button*/
    width: 90%;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

        h1{
            width: 70%;
            margin-bottom: 10px;
        }

        p{
            margin-bottom: 25px;
        }
        a{
            @include main-button;
            margin-bottom: 20px;
        }
}

//*****************SECTION STAGES OF WORKING*********
.section-website-working{
    width: 100%;
}

.working-container{
    width: 100%;
    padding: 40px 20px;

    h1{
       margin-bottom: 25px; //working section title
    }
    
    @include medium-screen{
        width: 90%;
        margin: 0 auto;
    }
    
    @include large-screen{
        max-width: 60%; //if below -> icons on text
        margin: 0 auto;
    }

    a{
        width: 95%;
        margin: 25px auto;
        padding: 35px 25px;
        border-radius: 15px;
        position: relative;
        display: flex;
        align-items: center;
        background: $background-lighter;
        box-shadow:$light-box-shadow;
    
            &:hover{
                background-color: $background-primary-color;
                i{
                    color: $primary-color;
                }
            }
        
            i{
                position: absolute;
                left: 12%;
                color: $icon-color;
    
                @include medium-screen{
                left: 30%;
                }
                
                @include large-screen{
                    left: 35%;
    
                }
            }
    }
}



.working-stage-number{
    position: absolute;
    padding: 4px 8px;
    color: #fff;
    text-align: center;
    background: $primary-color;
    border-radius: 50%;
    left: -12px;
}

.working-stage-title{
    position: absolute;
    left: 25%;
    @include medium-screen{
        left: 35%;
    }

    @include medium-screen{
        left: 40%;
    }
}

//*****************SECTION OF RESTAURANTS*********
.section-restaurant{
    width: 100%;
    @include large-screen{
        margin-bottom: 50px; /*space between section and footer*/
    }
}

.restaurant-container{
    width: 100%;
    padding: 40px 20px;
    padding-bottom: 40px;
    background: $background-lighter;

    h1{
        margin-bottom: 25px; //restaurants section title
    }

    @include large-screen{
        margin: 0 auto;
        padding: 40px 50px;
        width: 80%;
        border-radius: 30px;
    }
}

.restaurant-card-container{
    @include large-screen{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.restaurant-card{
    position: relative;
    max-height: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: $cards-box-shadow;
    &:hover{
        background: $background-lighter;
        box-shadow: $dark-box-shadow;
    }

    img{
        display: block;
        width: 100%;
        max-height: 170px;
        object-fit: cover;
        object-position: 50% 100%;
        
        &.restaurant-img-position{ /*la note enchanté img position*/
            object-position: 50% 60%;
        }
    }

    @include medium-screen{
        height: 400px;
        img{
            height: 300px;
            object-position: 50% 85%;
        }
    }

    @include large-screen{
        width: 40%;
        margin-bottom: 50px;
        height: 500px;

        img{
            height: 400px;
            object-position: 50% 65%;
        }
    }
}

.restaurant-description{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}


.restaurant-name{
    margin-bottom: 3px;
}

.like-icon{
    margin-top: 8px;
    cursor: pointer;
    &--unchecked{
        opacity: 1;
    }
    &--checked{
        @include heart-gradient;
        opacity: 0; /*invisible before hover*/
        transition: opacity .4s ease-out, transform .4s ease-out; /*empty effect when removing cursor*/
    }
    &:hover{
        .like-icon{
            &--unchecked{
                opacity: 0; /*remove border of heart*/
                transition: opacity .4s ease-out; /*fill effect when hovering*/
            }
            &--checked{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}


