//*****************SECTION NAME OF CITY*********
.section-city-name{ /*section for icon, name of city*/
    width: 100%;
    padding: 15px 0;
    background-color: darken($background-lighter,4);
    box-shadow: 0 1px 4px rgb(194, 193, 193) inset; /*inset for shadow inside*/
}

.city-name-container{ /*container of icon, name of city*/
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 0 auto;

        i{
            margin-right: 10%;
        }

    @include medium-screen{
        width: 25%;

        i{
            margin-right: 5%;
        }
    }
    @include large-screen{
        width: 15%;
     
        i{
            margin-right: 5%;
        }
    }
}

//*****************SECTION INFORMATIONS OF WEBSITE*********
.section-information{ /*section with informations + explore button*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-lighter;
}

.information-container{ /*container for informations + explore button*/
    width: 90%;
    padding: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

        h1{
            width: 70%;
            margin-bottom: 10px;
        }

        p{
            margin-bottom: 25px;
        }
        
        button{
            margin-bottom: 20px;
        }
}

//*****************SECTION STAGES OF WORKING*********
.section-website-working{
    width: 100%;
}

.working-container{
    width: 100%;
    padding: 40px 20px;

    h1{
       margin-bottom: 25px; //mixin section title
    }
    
    @include medium-screen{
        width: 90%;
        margin: 0 auto;
    }
    
    @include large-screen{
        max-width: 60%; //if below -> icons on text
        margin: 0 auto;
    }
}

.working-card{
    width: 95%;
    margin: 25px auto;
    padding: 35px 25px;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow:$cards-box-shadow;
    
        i{
            position: absolute;
            left: 12%;
            color: $icon-color;

            @include medium-screen{
            left: 30%;
            }
            
            @include large-screen{
                left: 35%;

            }
        }

        &:nth-child(4){ /*select last card*/
            background-color: $background-primary-color;
            
            & i{
                color: $primary-color;
            }
        }
}

.working-stage-number{
    position: absolute;
    padding: 4px 8px;
    color: #fff;
    text-align: center;
    background: $primary-color;
    border-radius: 50%;
    left: -12px;
}

.working-stage-title{
    position: absolute;
    left: 25%;
    @include medium-screen{
        left: 35%;
    }

    @include medium-screen{
        left: 40%;
    }
}

//*****************SECTION OF RESTAURANTS*********
.section-restaurant{
    width: 100%;
    @include large-screen{
        margin-bottom: 50px; /*space between section and footer*/
    }
}

.restaurant-container{
    width: 100%;
    padding: 40px 20px;
    padding-bottom: 40px;
    background: $background-lighter;

    h1{
        margin-bottom: 25px; //mixin section title
    }

    @include large-screen{
        margin: 0 auto;
        padding: 40px 50px;
        width: 80%;
        border-radius: 30px;
    }
}

.restaurant-card-container{
    @include large-screen{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.restaurant-card{
    position: relative;
    max-height: 250px;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: $cards-box-shadow;
    img{
        display: block;
        width: 100%;
        max-height: 170px;
        object-fit: cover;
        object-position: 50% 100%;
        
        &.restaurant-img-position{ /*la note enchanté img position*/
            object-position: 50% 60%;
        }
    }

    @include medium-screen{
        height: 400px;
        img{
            height: 300px;
            object-position: 50% 85%;
        }
    }

    @include large-screen{
        width: 40%;
        margin-bottom: 50px;
        height: 500px;
        &:hover{
            background: $background-lighter;
            box-shadow: $dark-box-shadow;
        }
        img{
            height: 400px;
            object-position: 50% 65%;
        }
        
        .fa-heart:hover{
            @include heart-gradient;
        }

    }
}

.restaurant-description{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.restaurant-name{
    margin-bottom: 3px;
}

