.section-menu{
    width: 100%;
}

.menu-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

        img{
            display: block;
            object-fit: cover;
            height: 250px;

            @include medium-screen{
                height: 545px;
                margin-top: -150px;
            }
            @include large-screen{
                max-height: 960px;
                margin-top: -150px;
            }
        }
            @include large-screen{
                margin: 0 auto;
                width: 50%;
                border-radius: 30px;
            }
}

.menu-description{
    width: 100%;
    padding: 20px;
    position: relative;
    margin-top: -12%; //~-50px
    border-radius: 30px 30px 0 0;
    background: $background-lighter;

    @include medium-screen{
        margin-top: -15%;
        padding: 10px 30px 20px 30px; 
    }

    @include large-screen{
        padding: 20px 30px;
    }

}
    .btn{
        @include main-button;
        width: 50%;
        display: block;
        margin: 50px auto;
        font-size: 18px;
        text-align: center;

        @include medium-screen{
            max-width: 30%;
            font-size: 22px;
        }

        @include large-screen{
            max-width: 35%;
            font-size: 22px;
        }
    }

.menu-title{
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    i:hover{
        @include heart-gradient;
        cursor: pointer;
    }
    
    @include medium-screen{
        padding-top: 10px;
        margin-bottom: 15px;
    }

    @include large-screen{
        padding-top: 10px;
        margin-bottom: 15px;
    }
}

.menu-service{
    width: 100%;
}

.service-name{ /*name of service*/
    width: fit-content;
    margin-top: 35px;
    span{
        @include service-border;
    }
}

.meal-card{ /*card for each meal*/
    width: 100%;
    max-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: $meal-card-margin-top;
    overflow: hidden;
    position: relative;
    opacity: 0;
    min-width: 0;
    flex: 1; /*every child will set to an equal size inside the container*/
    background: #fff;
    border-radius: $card-radius;
    cursor: pointer;
    animation: fadein $anim-appearance-speed linear forwards; /*put animation on every meal cards -- forwards allows to have opacity on 1 after animation*/


            @include large-screen{
                margin-top: 25px;
            }
        &:hover{ /*meal check card is present on right side when hover a meal card*/
            a{
                border-radius: $card-radius 0 0 $card-radius;
            }

            .added-meal{
                width: 3em;
                transition: width .5s ease; /*ease for appearance -> show faster than disappearance*/
                
                i{
                    animation: icon-rotate .5s ease; /*rotation of check icon*/ 
                } 
            }
            .meal-price{
                transform: translateX(-250%); /*translate price on the left*/
                transition: transform .5s ease;

                @include medium-screen{
                    transform: translateX(-250%); /*translate price on the left*/
                }
                @include large-screen{
                    transform: translateX(-300%); /*translate price on the left*/
                }
            }
        }
}

.main-food{
    margin-bottom: 3px;
}

.meal-description{
    max-width: calc(80%);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px 15px 15px 10px;
    margin-right: 50px;
    @include medium-screen{
        padding: 10px 10px 10px 10px;
    }
    @include large-screen{
        padding: 10px 10px 10px 10px;
    }
    p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.meal-price{
    width: fit-content;
    position: absolute;
    right: 15px;
    padding-bottom:15px;
    transition: transform .5s ease-in; /*follow the card animation*/ 
}

.added-meal{
    @include meal-check-card;
    width: 0;
    height: 72px;
    transition: width .5s ease-in; /*ease-in for disappearance -> show slower than appearance*/
    overflow: hidden; /*hide the check icon*/
}