.section-menu{
    width: 100%;
}

.menu-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
        img{
            display: block;
            object-fit: cover;

            @include medium-screen{
                margin-top: -150px;
            }
        }
            @include large-screen{
                margin: 0 auto;
                width: 50%;
                border-radius: 30px;
            }
}

.menu-description{
    width: 100%;
    padding: 20px;
    margin-top: -12%; //~ -50px
    border-radius: 30px 30px 0 0;
    background: $background-lighter;

    @include medium-screen{
        margin-top: -15%;
        padding: 10px 30px 20px 30px; 
    }

    @include large-screen{
        padding: 20px 30px;
    }
}

.menu-title{
    display: flex;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    i:hover{
        @include heart-gradient;
        cursor: pointer;
    }
    
    @include medium-screen{
        padding-top: 10px;
        margin-bottom: 15px;
    }

    @include large-screen{
        padding-top: 10px;
        margin-bottom: 15px;
    }
}

.menu-service{
    width: 100%;
}

.service-name{ /*name of service*/
    width: fit-content;
    margin-top: 35px;
    span{
        @include service-border;
    }
}

.meal-card{ /*card for each meal*/
    width: 100%;
    display: flex;
    
    
        &:hover{ /*meal check card is present on right side when hover a meal card*/
            a{
                border-radius: $card-radius 0 0 $card-radius;
            }

            .added-meal{
                width: auto;
                height: auto;
                display: block;
                opacity: 1;
                margin-top: $meal-card-margin-top;
                padding: $meal-card-padding;
                box-shadow: $cards-box-shadow;
                transition: opacity .1s ease-in;
                @include meal-check-card;

                @include large-screen{
                    margin-top: 25px;
                }
            }
        }

    a{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: $meal-card-margin-top;
        padding: $meal-card-padding;
        background: #fff;
        border-radius: $card-radius;
        box-shadow: $cards-box-shadow;


            @include large-screen{
                margin-top: 25px;
            }
    }
}

.main-food{
    margin-bottom: 5px;
}


.added-meal{
    width: 0;
    height: 0;
    opacity: 0;
}